body {
    background-color: #323232;
}

.container-form-recovery {
    background-color: #323232;
    height: 100vh;
}

.custom-form {
    background-color: #1b1b1b;
    border-radius: 20px;
    padding: 50px;
    animation: custom-form 1s ease;
}

@keyframes custom-form {
    100% {
        transform: translateY(0%);
    }

    0% {
        transform: translateY(15%);
        opacity: 0%;
    }
}

.custom-title {
    color: #00ff32;
}

.custom-subtitle {
    font-size: 18px;
}

.custom-link {
    color: #ffffff;
    text-decoration: none;
}

.custom-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.custom-button {
    color: #ffffff;
    font-size: 18px;
    width: 40%;
    margin: 30px 0 30px 0;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #00c84d;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #00c84db9;
}

.custom-input {
    background-color: #323232;
    border-radius: 10px;
    border-style: none;
    color: #ffffff;
    width: 60%;
    height: 40px;
}

@keyframes custom-image-fondoUno {
    100% {
        transform: translateY(0%);
    }

    0% {
        transform: translateY(15%);
        opacity: 0%;
    }
}

/*-------------    formulario new Password    ----------=*/

.custom-password {
    font-size: 30px;
}